@model IEnumerable<SalesWebMvcProject.Models.SalesRecord>
@{
    ViewData["Title"] = "Sales Records";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar nova venda</a>
</p>

<table class="table table-striped table-hover">
    <thead class="success">
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Valor
            </th>
            <th>
                status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
