@model SalesWebMvcProject.Models.Seller; 

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <div class="dl-horizontal">
        <dt>Nome:</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>E-mail:</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>Data de nascimento:</dt>
        <dd>@Html.DisplayFor(model => model.BirthDate)</dd>

        <dt>Salário:</dt>
        <dd>@Html.DisplayFor(model => model.BaseSalary)</dd>

        <dt>Departamento:</dt>
        <dd>@Html.DisplayFor(model => model.Department.Name)</dd>
    </div>
    <br />
    <br />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Editar</a>
    <a asp-action="Index" class="btn btn-warning">Voltar</a>
</div>
